<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="LOG_HOME"
			  value="C:/work/java-development/logs/bootboard" />

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
	</appender>	
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>	
	<appender name="file" 
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/debug.log</file>
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<logger name="com.springdemo.bootboard" 
			level="DEBUG">
		<appender-ref ref="console" />
	</logger>
	
	<logger name="jdbc.sqlonly" <!-- jdbc.sqlonly에서 실행이 된다. -->
			level="info">
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.springframework" 
			level="error">
		<appender-ref ref="console" />
	</logger>

	<!-- Root Logger -->
	<root level="off">
		<appender-ref ref="console" />
	</root>
	
</configuration>
